/*---------------------------------------
    links
---------------------------------------*/

/*---------------------------------------
    blank button
---------------------------------------*/
.c-blankbtn {
    padding: 0;
    background: transparent none;
    border: 0;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

/*---------------------------------------
    Webkit scrollbar
---------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c-brand);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c-brand);
}
