@charset "UTF-8";

@import '00_settings/_setting.vars';
@import '01_tools/_tool.mixins';
@import '01_tools/_tool.utils';

@import '02_defaults/_default.normalize';
@import '02_defaults/_default.reset';
@import '02_defaults/_default.defaults';

@import '03_objects/_object.grid';
@import '03_objects/_object.buttons';
@import '03_objects/_object.lists';
@import '03_objects/_object.constructions';
@import '03_objects/_object.forms';
@import '03_objects/_object.icons';

@import '04_components/_component.layout';
@import '04_components/_component.header';
@import '04_components/_component.headings';
@import '04_components/_component.sections';
@import '04_components/_component.lists';
@import '04_components/_component.sliders';
@import '04_components/_component.others';

// @import '09_vendor/flatpickr.min.css';
// @import '09_vendor/flatpickr.theme.min.css';
// @import '09_vendor/flickity.css';
// @import '09_vendor/jquery.mCustomScrollbar.css';
// @import '09_vendor/balloon';
// @import '09_vendor/jquery.sweet-dropdown.css';

// @import '10_misc/_shame.css';
// @import '02_defaults/_default.print.css';
// @import '01_tools/_tools.debugcss.css';

.zzzzz {
    @at-root .selector#{&} {
        display: none;
        display: block;
    }
}

.clamp {
    color: red;
    font-size: clamp(32px, calc(1rem + 5vw), 100px);
    border: 1px solid #000;
    padding: clamp(32px, 8vw, 100px) 0;
    @include bp(bp1024) {
        display: block;
        lost-center: 100% flex;
    }
}

.container {
    min-height: 100vh;
    max-width: 2560px;
    display: grid;
    grid-template-columns: 1fr minmax(100%, 560px);
}
.img,
.txt {
    padding: 50px;
}
.img {
    display: none;
}
.txt {
    background: red;
    width: 100%;
}
