/*------------------------------------*\
    #Forms styles
    (see the buttons vars)
\*------------------------------------*/

.o-form {
    /*---------------------------------------
        Group
    ---------------------------------------*/
    &__group {
        display: block;
    }
    /*------------------------------------*\
        #label
    \*------------------------------------*/
    &__label {
        display: block;
    }

    /*------------------------------------*\
        #form controls
    \*------------------------------------*/
    &__control {
        appearance: none;
        width: 100%;
        background: #fff;
        border: var(--form-border-width) solid var(--c-grey);
        border-radius: var(--base-border-radius);
        box-sizing: border-box;
        font-size: var(--base-font-size);
        line-height: normal;
        padding: var(--form-padding);
        transition: var(--base-transition-time);

        /*------------------------------------*\
            #radios & checkboxes
        \*------------------------------------*/
        @at-root label#{&} {
            position: relative;
            display: inline-block;
            padding-left: 1.5em;
            width: auto;
            border-color: transparent;
            background: transparent;

            input {
                position: absolute;
                top: var(--form-padding);
                left: 0;
                width: 1rem;
                height: 1rem;

                &[type='checkbox'],
                &[type='radio'] {
                    top: calc(var(--form-padding) - 2px);
                }
            }
            &--block {
                width: 100%;
                display: block;
            }
        }

        /* on focus */
        &:focus {
            border-color: var(--c-grey);
            outline: 0;
        }

        /* select */
        @at-root select#{&} {
            padding-right: 32px !important;
            background: #fff url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDIwIDUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPjwvdGl0bGU+PGRlc2M+PC9kZXNjPjxwYXRoIGZpbGw9IiNEOEQ4RDgiIGQ9Ik00LjU1MSA0Ljc5NGwtNC41NTEtNC43OTVoOC45MzZ6Ii8+PC9zdmc+') 100% 50% no-repeat;
        }

        /* search */
        &[type='search'] {
            box-sizing: border-box;
        }

        /* placeholder text */
        &::-moz-placeholder {
            color: var(--c-grey);
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: var(--c-grey);
        }
        &::-webkit-input-placeholder {
            color: var(--c-grey);
        }
    }

    /* form hint text */
    &__hint {
        font-size: 12px;
    }
}

@-moz-document url-prefix() {
    select.o-form__control {
        padding-top: calc(var(--form-padding) - var(--form-border-width));
        padding-bottom: calc(var(--form-padding) - var(--form-border-width));
    }
}

/*---------------------------------------
    Unstyle the caret on `<select>`s in IE10+
---------------------------------------*/
::-ms-expand {
    background-color: transparent;
    border: 0;
}

/*---------------------------------------
    autofill
---------------------------------------*/
input:-webkit-autofill {
    box-shadow: inset 0 0 0px 9999px rgb(217, 105, 16);
    -webkit-box-shadow: inset 0 0 0px 9999px rgb(217, 105, 16);
}
