/*------------------------------------*\
    #icons (see https://cloudfour.com/thinks/our-svg-icon-process/)
\*------------------------------------*/
.o-icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.0625em;
    font-size: 24px;
}
