/*------------------------------------*\
    #Buttons
\*------------------------------------*/
.o-btn {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    padding: 18px;
    border: var(--btn-border-width) solid var(--c-brand);
    background: var(--c-brand);
    font-size: 13px;
    color: var(--c-grey--dark);
    text-transform: uppercase;
    line-height: normal;
    cursor: pointer;

    &:active {
        position: relative;
        top: 1px;
    }
    &:focus {
        outline: none;
    }
    /* block button */
    &--block {
        display: block;
        text-align: center;
        width: 100%;
    }
}
