/*------------------------------------*\
    center v and h
    - needs height
\*------------------------------------*/
.o-centervh {
    display: grid;
    place-items: center;

    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

/*---------------------------------------
    flag/media objects
---------------------------------------*/
.o-card {
    /* vars */
    --o-card--gap: 20px;

    display: grid;
    grid-gap: var(--o-card--gap);
    grid-template-columns: auto 1fr;
    align-items: center;

    & > div {
        > :first-child {
            margin-top: 0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }

    /* media element */
    &--media {
        align-items: start;
    }
}
