.swiper-container {
    width: 100%;
    height: 100%;
}
.c-slide {
    width: 100%;
}
.c-homepageslider-next {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    background: var(--c-grey--transparent);
    border: 0;
    cursor: pointer;

    svg {
        transition: all 0.2s cubic-bezier(0, 0.33, 0.66, 1);
    }
    &:focus {
        outline: 0;
    }
    &:hover {
        svg {
            transform: translateX(30%);
        }
    }
}
