/*---------------------------------------
    Social links in footer
---------------------------------------*/
.c-social {
    list-style-type: none;
    margin: 0;
    font-size: 0;
    position: relative;

    &__item {
        display: inline-block;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 1em 0 0;

        & + & {
            margin-left: 1em;
        }
    }

    @include bp(bp1024) {
        &__item {
            display: block;
            & + & {
                margin-left: 0;
                margin-top: 24px;
            }
        }
    }
}
